
.loading-indicator {
    font-size:12px;
    height:28px;
}
.loading-indicator {
    background-position:left top;
    background-repeat:no-repeat;
    font-size:8pt;
    height:18px;
    padding-left:20px;
    text-align:left;
}
#loading {
    background:#fff;
    border:1px solid #6593CF;
    left:40%;
    padding:2px;
    position:absolute;
    text-align:center;
    top:40%;
    width:250px;
    
    z-index:20001;
    font-family:tahoma,arial,helvetica;
}
/** not sure if this is still needed ? */

#loading-logo-bottom,
#loading-logo-center,
#loading-logo-tile,
#loading-logo-tile-top
{
   width:100%;
   height:100%;
   position:absolute;
  
   left:0;
   top:0;
   background-position:50% 50%;
}

/* background-tile.jpg */
#loading-logo-tile {
    z-index:1000;
}

/* background.jpg */
#loading-logo-center
{
   background-position:50% 0;
   background-repeat:no-repeat; 
   z-index:1001;
}
/* background-tile-top.jpg */
#loading-logo-tile-top
{
   background-position:50% 0;
   z-index:1002;
   background-repeat:repeat-x; 
   
}
/* background_bottom_logo.gif */
#loading-logo-bottom
{
   background-position:50% 100%;
   background-repeat:no-repeat; 
   z-index:1003;
}



.logoblock {
    background-color: #f8ecb2;
}
.x-grid-row .x-grid-col-Companies-Company_Name {
    white-space: pre;
}
.x-grid-row .x-grid-td-FaxArchive-Details,
.x-grid-row .x-grid-col-Directory-Directory_Address {
    white-space: normal;
}


.x-grid-row-selected .x-grid-check-icon-toggle,
.x-grid-check-icon-checked {
    background:transparent url(../../roojs1/images/default/menu/chk-sprite.gif) no-repeat scroll 0 -16px;
    height:16px;
    width:16px;
}
.x-grid-check-icon-toggle,
.x-grid-check-icon {
    background:transparent url(../../roojs1/images/default/menu/chk-sprite.gif) no-repeat scroll 0 0;
    height:16px;
    width:16px;
}

/** - add button next to combo box (of type ComboAdder) */
.x-form-adder,
.x-form-textfield-adder, 
.x-form-textfield-minus
{
    background:transparent url(../../roojs1/images/default/dd/drop-add.gif) no-repeat scroll 0 0;
    border-style:none none solid;
    
    border-style:none none solid;
    cursor:pointer;
    height:14px;
    left:2px;
    margin-left:20px;
    position:relative;
    top:4px;
    width:17px;
} 
.x-form-textfield-adder
{
    margin-left: 3px;
} 
.x-form-textfield-minus
{
    background:transparent url(../../roojs1/images/default/dd/drop-sub.gif) no-repeat scroll 0 0;
    margin-left: 23px;
}


.x-date-menu .x-menu-list {
    width: 200px;
}

/* Select distribution list - make pointer a hand */
#distgrid-Documents_In .x-grid-row td,
#distgrid-Documents_Out .x-grid-row td,
#grid-Group_Members .x-grid-row td,
#grid-Group_Rights .x-grid-row td
{
    cursor: pointer;
}

#headerInformation {
    clear:none;
    color:#244;
    font-size:12px;
    font-family:arial,tahoma,helvetica,sans-serif;
    position:absolute;
    right:210px;
    top:6px;
}

#headerInformation-company-logo {
   
}
#headerInformation-applogo {
    position:absolute;
    right:0px;
}
    
.pman-details-view {
    padding : 0x;
}
.pman-details-view-header {
    padding: 2px; 
    padding-left: 5px;
    background: #ddd;
    font-weight: bold;
    -moz-user-focus:normal;
    -x-system-font:none;
    font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:13px;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    vertical-align:top;
    white-space:nowrap;
    
    
}
/*
.pman-details-view td {
    padding : 10px;
}
*/
.pman-details-tbl td {
    padding: 1px;
    white-space : normal;
}
.pman-details-view-remarks  {
    margin: 0px 4px;
}
.pman-details-view-remark {
    border-bottom:3px dotted #CCC;
    padding-top:5px;
}


.pman-details-view-remark-header {
    background-color : #f8f8f8;
    display: block;    
}

.pman-details-view-remark-date {
    display: inline;
    float: right;
    color: #999;
}
.pman-details-view-remark-to {
    clear:none;
    display:inline;
    float:left;
    font-weight:bold;
}

.pman-details-view-remark-body {
    padding: 2px 0px 13px 0px;
    clear: left;
    border-top: 1px dotted #ccc;
    white-space: normal;
   /* width: 200px; */
}
            
.pman-details-style,  .pman-details-style td {
    font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:13px;
     
}       
/* slightly ligher disabled */
.x-item-disabled {
    opacity:0.9;
}  

.x-tabs-wrap {
    padding-top: 0px;
}
.x-tabs-wrap .x-toolbar {
    padding-top : 0px;
    padding-bottom : 0px;
}
/*
#distgrid-DocumentsCirc_In .x-grid-header,
#distgrid-DocumentsCirc_Out .x-grid-header 
{
    display:none;
}
*/
/* status icon on inbox */
.x-grid-col-Documents_Wip-locked_by .x-grid-cell-text,
.x-grid-col-Unread-status_str .x-grid-cell-text,
.x-grid-col-Inbox-status_str .x-grid-cell-text {
    padding: 1px;
}
.x-strikethrough .x-grid-cell-text {
    text-decoration: line-through;
    color: #ccc;
}
.x-doc-closed .x-grid-cell-text {
    color: #999;
}

/* override forms so they are a bit tighter */
.x-form-label-top .x-form-element {
    padding:0;
}

/*--------- timesheet -------*/
.x-grid-td-ts_item .x-grid-cell-inner {
    overflow: visible;
}
.x-grid-col-ts_clear .x-grid-cell-text {
    padding: 1px;
}



.p-email-need-filing .x-toolbar {
    
    background: #f66 none no-repeat scroll 0 0;
}
.p-preview-remarks {
    font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:13px;
    white-space:nowrap;
}
/** ------ email adder ---- */
.p-cblist-item {
    display: inline-block; 
    background: #e0ecff none no-repeat scroll 0 0;
    float: left;
    height: 18px;
    -moz-border-radius: 2px;
    margin: 2px;
    float: left
    
    font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    
}
.p-cblist-item div
{
    display: inline-block;
    float: left;
    margin: 2px;
    margin-left: 5px;
}
.p-cblist-item img
{
   margin-left: 5px;
   background:transparent url(../templates/images/mailAddClose.gif) no-repeat scroll 0 0;
   cursor: pointer;
}
.p-cblist-cb 
{
    float:left;
}

.p-cblist-grp
{
    padding: 2px;
    border: 1px solid #e0ecff;
    display: inline-block;
}
   
   /** ---- more kludges? --- */
/* was clear none for some reason... dealflow changed this back? to both... */   
.x-form-column .x-form-clear-left
{
    clear: both;
}
   
   
.p-thumb{
	background: #ddd;
	padding: 3px;
    border: 2px solid #ddd;
    
}
.x-view-selected .p-thumb {
    border: 2px solid #66c;
}

/*
.p-thumb img {
	height: 100px;
	width: 200px;
}
*/
.p-thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
       font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:13px;
}
.p-thumb-wrap span{
  
	display: block;
	overflow: hidden;
	text-align: center;
    height: 40px;
    width: 80px;
}
.p-thumb-view .x-view-selected {
    background: #316AC5 !important;
}

.p-reply-to-link 
{
    color :#0c0;
    font-style: normal;
    font-weight: bold;
    cursor:pointer;

}

.p-doc-unread td
{
    font-weight: bold;
   }
   
span.ptcv-selectlang
{
   text-decoration: underline; 
   color : #00f;
   cursor:pointer;
}
   
/** -------------------- ACTION BOXES ----------------- */
.x-action-box
{
     font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:13px;
}
.x-action-box-header {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#E3E3E3 none repeat scroll 0 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color:#333;
}
.x-action-box-small-header {
    padding:8px 12px 4px;
}
.x-action-box-properties-header {
    font-size:120%;
    font-weight:bold;
}
.x-action-box-top-right {
    background-image:url(../templates/images/shcornertop.png);
    background-repeat:no-repeat;
  /*  height:12px; */
    min-width:12px;
    width:1%;
}

.x-action-box-right {
    background-image:url(../templates/images/action/shr.png);
    background-repeat:repeat-y;
}
.x-action-box-body {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:white none repeat scroll 0 0;
    padding:10px;
     border-left: 1px solid #ccc;
}
.x-action-box-ico-edit {
    -moz-background-clip:border !important;
    -moz-background-inline-policy:continuous !important;
    -moz-background-origin:padding !important;
    /* background:transparent url(../../images/16x16/all_16_16_vertical.png) no-repeat scroll 0 -378px !important; */
}
.x-action-box-action {
    background-position:0 2px;
    background-repeat:no-repeat;
    padding:3px 0 2px 22px;
    cursor:pointer;
    color: #33c;
    text-decoration: underline;
    clear: both;
    float: left;
    line-height: 15px;
}
 
.x-action-box-bottom-left {
    background-image:url(../templates/images/action/shcornerbottom.png);
    background-repeat:no-repeat;
    height:12px;
  /*   min-width:12px; */
    width:1%;
}
.x-action-box-bottom {
    background-image:url(../templates/images/action/shb.png);
    background-repeat:repeat-x;
}
.x-action-box-bottom-right {
    background-image:url(../templates/images/action/shcorner.png);
    background-repeat:no-repeat;
    height:12px;
    min-width:12px;
    width:1%;
}
.x-action-box-hr {
    border-bottom:1px solid #DDDDDD;
    margin-bottom:2px;
    padding-bottom:2px;
    padding-top:4px;
    clear:both;
}
/*** -------------- boxes with themes ----- */
.x-action-box-yellow .x-action-box-header
{
    background:#F6D64E none repeat scroll 0 0;
    border-color:#C9A30A;
    color:#655205;
}
 
.x-action-box-yellow .x-action-box-body
{
    
   background:#FFF2BF none repeat scroll 0 0;
    color:#655205;
}











/** BOX style forms **/





.x-form fieldset.x-formbox {
    padding-left :0;
    padding-bottom :0;
    padding-right :0;
    padding-top: 15px;
     
    border: 1px solid gray;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;

    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 15px;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
}

.x-form fieldset.x-formbox legend {
    display: block;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin: 0px;
    padding: 5px 0px;
        
    background: #E3E3E3 none repeat scroll 0 0;
    
    width: 100%;
    position: relative;
    top: 11px;
    text-align: center;

 }
 
.x-form fieldset.x-formbox .x-form-item {
    margin-left: 2px;
    margin-right: 2px;
}

.x-form fieldset.x-formbox x-form-displayfield,
.x-form fieldset.x-formbox label {
    padding-top: 0px; /* tighter layout */

}
.x-form fieldset.x-formbox .x-form-displayfield {
    font-weight: bold;
}

.align-right {
    text-align: right;
}

.cell-strikethrough{
    text-decoration: line-through;
}
