From: test@test.com
To: test@test.com
Subject: [Site name here] Password Reset
Content-Type: text/html; charset=utf-8

<div>
Hi {t.person.name},&nbsp;
<div>
  <br>
  <div>Someone, presumably you has requested a Password reset,&nbsp;</div>
  <div>
    <br>
  </div>
  <div>Click on the URL below to Reset your Password.&nbsp;</div>
  <div>
    <br>
  </div>
  <div>
    <a href="http://{t.HTTP_HOST}{t.baseURL}/PasswordReset/{t.person.id}/{t.authFrom}/{t.authKey}">http://{t.HTTP_HOST}{t.baseURL}/PasswordReset/{t.person.id}/{t.authFrom}/{t.authKey}</a>
  </div>
</div>
</div>