<html>
    <head>
        <meta charset="UTF-8">
        <style>
            html,body,table {font-family:Arial;font-size:14px;color:#2c336a;}
            a {color:green;}
            
        </style>
    </head>
    <body>
        
        <p>Dear {person.getEmailFrom():h},</p>
        <p>Thanks for signing up for a Made In New Zealand.Com.HK account.</p>
        <p>To continue, please click the link below to confirm your email address: </p>
        <p><a href="http://{t.serverName}{t.baseURL}/Register/{t.event.id}/{t.md5}">http://{t.serverName}{t.baseURL}/Register/{t.event.id}/{t.md5}</a></p>
        <p>If that doesn’t work, please copy and paste the link into your browser. </p>
        <p>Thank you for your support. </p>
        <p>Yours sincerely, </p>
        <p><img src="/templates/images/logo.png" width="217" height="56"/></p>
        <p>Made In New Zealand.Com.HK</p>
        
    </body>
    
</html>